In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("train_AV3.csv")

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
abc = df.copy()
abc.drop(["Married", "Loan_ID"], axis=1, inplace=True)
abc.head()

,Gender,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
abc.dtypes

Gender                object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
cat_columns = []
for i in abc.columns:
    if abc[i].dtype == 'O':
        cat_columns.append(i)
cat_data = abc[cat_columns]
cat_data.head()

  Gender Dependents     Education Self_Employed Property_Area Loan_Status
0   Male          0      Graduate            No         Urban           Y
1   Male          1      Graduate            No         Rural           N
2   Male          0      Graduate           Yes         Urban           Y
3   Male          0  Not Graduate            No         Urban           Y
4   Male          0      Graduate            No         Urban           Y

In [8]:
num_columns = []
for i in abc.columns:
    if abc[i].dtype != 'O':
        num_columns.append(i)

num_data = abc[num_columns]
num_data.head()
# num_data['Credit_History'] = num_data['Credit_History'].astype(int) 
# num_data['LoanAmount'] = num_data['LoanAmount'].astype(int) 
# num_data['CoapplicantIncome'] = num_data['CoapplicantIncome'].astype(int) 
# num_data['Loan_Amount_Term'] = num_data['Loan_Amount_Term'].astype(int)
num_data.dtypes

ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
dtype: object

abc

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
cat_data.head()
# cat_data['Dependents'].unique()

  Gender Dependents     Education Self_Employed Property_Area Loan_Status
0   Male          0      Graduate            No         Urban           Y
1   Male          1      Graduate            No         Rural           N
2   Male          0      Graduate           Yes         Urban           Y
3   Male          0  Not Graduate            No         Urban           Y
4   Male          0      Graduate            No         Urban           Y

In [11]:
cat_data['Gender'].replace(to_replace=['Male','Female'], value=[0,1],inplace=True)
cat_data['Education'].replace(to_replace=['Graduate','Not Graduate'], value=[0,1],inplace=True)
cat_data['Self_Employed'].replace(to_replace=['No','Yes'], value=[0,1],inplace=True)
cat_data['Property_Area'].replace(to_replace=['Rural','Urban','Semiurban'], value=[0,1,2],inplace=True)
cat_data['Dependents'].replace(to_replace=['3+'], value=[4],inplace=True)
cat_data['Loan_Status'].replace(to_replace=['Y','N'], value=[0,1],inplace=True)
# cat_data.head()
# df.head()
# from sklearn import preprocessing
# X = preprocessing.StandardScaler().fit(X).transform(X)
# X[0:5]

C:\Users\Divyanshi\Anaconda3\lib\site-packages\pandas\core\generic.py:5886: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
# from sklearn.impute import Imputer
import sklearn
sklearn.__version__
# num_imputer = SimpleImputer(strategy='median')
# cat_imputer = SimpleImputer(strategy='most_frequent')

# # Fit and transform
# num_data_no_mis = num_imputer.fit_transform(num_data)
# cat_data_no_mis = cat_imputer.fit_transform(cat_data)

'0.19.1'

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
X = num_data.iloc[:,:].values
X
Y = cat_data.iloc[:,:].values

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)
cat_imputer = Imputer(missing_values = "NaN", strategy = "most_frequent", axis = 0)
cat_imputer = cat_imputer.fit(Y[:,0:])
imputer = imputer.fit(X[:,0:])
X[:,0:] = imputer.transform(X[:,0:])
Y[:,0:] = cat_imputer.transform(Y[:,0:])

Y[:,0:]

array([[0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
       [0.0, 0.0, 0.0, 1.0, 1.0, 0.0],
       ...,
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0],
       [0.0, 2.0, 0.0, 0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0, 1.0, 2.0, 1.0]], dtype=object)

In [15]:
num_df = pd.DataFrame(X[:,0:], columns=num_data.columns,
                      index=num_data.index)
num_df.isna().sum()
cat_df = pd.DataFrame(Y[:,0:], columns=cat_data.columns,
                      index=cat_data.index)
cat_df.isna().sum()
cat_df['Gender'].unique()

array([0.0, 1.0], dtype=object)

In [16]:
new_data = pd.concat([num_df, cat_df], axis=1)
new_data.head()
new_data.dtypes
for i in new_data.columns:
#     if new_data[i].dtype == 'O':
    new_data[i].astype(int)
new_data.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,5849.0,0.0,146.412162,360.0,1.0,0,0,0,0,1,0
1,4583.0,1508.0,128.000000,360.0,1.0,0,1,0,0,0,1
2,3000.0,0.0,66.000000,360.0,1.0,0,0,0,1,1,0
3,2583.0,2358.0,120.000000,360.0,1.0,0,0,1,0,1,0
4,6000.0,0.0,141.000000,360.0,1.0,0,0,0,0,1,0

In [18]:
X = new_data.drop('Loan_Status',axis=1)
y = df.Loan_Status

In [19]:
X

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Dependents,Education,Self_Employed,Property_Area
0,5849.0,0.0,146.412162,360.0,1.000000,0,0,0,0,1
1,4583.0,1508.0,128.000000,360.0,1.000000,0,1,0,0,0
2,3000.0,0.0,66.000000,360.0,1.000000,0,0,0,1,1
3,2583.0,2358.0,120.000000,360.0,1.000000,0,0,1,0,1
4,6000.0,0.0,141.000000,360.0,1.000000,0,0,0,0,1
5,5417.0,4196.0,267.000000,360.0,1.000000,0,2,0,1,1
6,2333.0,1516.0,95.000000,360.0,1.000000,0,0,1,0,1
7,3036.0,2504.0,158.000000,360.0,0.000000,0,4,0,0,2
8,4006.0,1526.0,168.000000,360.0,1.000000,0,2,0,0,1
9,12841.0,10968.0,349.000000,360.0,1.000000,0,1,0,0,2
10,3200.0,700.0,70.000000,360.0,1.000000,0,2,0,0,1
11,2500.0,1840.0,109.000000,360.0,1.000000,0,2,0,0,1
12,3073.0,8106.0,200.000000,360.0,1.000000,0,2,0,0,1
13,1853.0,2840.0,114.000000,360.0,1.000000,0,0,0,0,0
14,1299.0,1086.0,17.000000,120.0,1.000000,0,2,0,0,1
15,4950.0,0.0,125.000000,360.0,1.000000,0,0,0,0,1
16,3596.0,0.0,100.000000,240.0,0.842199,0,1,1,0,1
17,3510.0,0.0,76.000000,360.0,0.000000,1,0,0,0,1
18,4887.0,0.0,133.000000,360.0,1.000000,0,0,1,0,0
19,2600.0,3500.0,115.000000,342.0,1.000000,0,0,0,0,1
20,7660.0,0.0,104.000000,360.0,0.000000,0,0,1,0,1
21,5955.0,5625.0,315.000000,360.0,1.000000,0,1,0,0,1
22,2600.0,1911.0,116.000000,360.0,0.000000,0,0,1,0,2
23,3365.0,1917.0,112.000000,360.0,0.000000,0,2,1,0,0
24,3717.0,2925.0,151.000000,360.0,0.842199,0,1,0,0,2
25,9560.0,0.0,191.000000,360.0,1.000000,0,0,0,1,2
26,2799.0,2253.0,122.000000,360.0,1.000000,0,0,0,0,2
27,4226.0,1040.0,110.000000,360.0,1.000000,0,2,1,0,1
28,1442.0,0.0,35.000000,360.0,1.000000,0,0,1,0,1
29,3750.0,2083.0,120.000000,360.0,1.000000,1,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...
584,2787.0,1917.0,146.000000,360.0,0.000000,0,1,0,0,0
585,4283.0,3000.0,172.000000,84.0,1.000000,0,1,0,0,0
586,2297.0,1522.0,104.000000,360.0,1.000000,0,0,0,0,1
587,2165.0,0.0,70.000000,360.0,1.000000,1,0,1,0,2
588,4750.0,0.0,94.000000,360.0,1.000000,0,0,0,0,2
589,2726.0,0.0,106.000000,360.0,0.000000,0,2,0,1,2
590,3000.0,3416.0,56.000000,180.0,1.000000,0,0,0,0,2
591,6000.0,0.0,205.000000,240.0,1.000000,0,2,0,1,2
592,9357.0,0.0,292.000000,360.0,1.000000,0,4,0,1,2
593,3859.0,3300.0,142.000000,180.0,1.000000,0,0,0,0,0
594,16120.0,0.0,260.000000,360.0,1.000000,0,0,0,1,1
595,3833.0,0.0,110.000000,360.0,1.000000,0,0,1,0,0
596,6383.0,1000.0,187.000000,360.0,1.000000,0,2,1,1,0
597,2987.0,0.0,88.000000,360.0,0.000000,0,0,0,0,2
598,9963.0,0.0,180.000000,360.0,1.000000,0,0,0,1,0
599,5780.0,0.0,192.000000,360.0,1.000000,0,2,0,0,1
600,416.0,41667.0,350.000000,180.0,0.842199,1,4,0,0,1
601,2894.0,2792.0,155.000000,360.0,1.000000,0,0,1,0,0
602,5703.0,0.0,128.000000,360.0,1.000000,0,4,0,0,1
603,3676.0,4301.0,172.000000,360.0,1.000000,0,0,0,0,0
604,12000.0,0.0,496.000000,360.0,1.000000,1,1,0,0,2
605,2400.0,3800.0,146.412162,180.0,1.000000,0,0,1,0,1
606,3400.0,2500.0,173.000000,360.0,1.000000,0,1,0,0,2
607,3987.0,1411.0,157.000000,360.0,1.000000,0,2,1,0,0
608,3232.0,1950.0,108.000000,360.0,1.000000,0,0,0,0,0
609,2900.0,0.0,71.000000,360.0,1.000000,1,0,0,0,0
610,4106.0,0.0,40.000000,180.0,1.000000,0,4,0,0,0
611,8072.0,240.0,253.000000,360.0,1.000000,0,1,0,0,1
612,7583.0,0.0,187.000000,360.0,1.000000,0,2,0,0,1
613,4583.0,0.0,133.000000,360.0,0.000000,1,0,0,1,2

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8, random_state=1)

C:\Users\Divyanshi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [26]:
X_train

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Dependents,Education,Self_Employed,Property_Area
291,4400.0,0.0,127.000000,360.0,0.000000,0,2,0,0,2
507,3583.0,0.0,96.000000,360.0,1.000000,0,0,0,0,1
328,4333.0,2451.0,110.000000,360.0,1.000000,1,0,0,0,1
609,2900.0,0.0,71.000000,360.0,1.000000,1,0,0,0,0
69,4300.0,0.0,136.000000,360.0,0.000000,1,0,0,0,2
40,3600.0,0.0,80.000000,360.0,1.000000,0,0,0,0,1
5,5417.0,4196.0,267.000000,360.0,1.000000,0,2,0,1,1
430,8624.0,0.0,150.000000,360.0,1.000000,1,1,0,1,2
453,2483.0,2466.0,90.000000,180.0,0.000000,0,0,0,0,0
38,4166.0,7210.0,184.000000,360.0,1.000000,0,0,0,0,1
582,3166.0,0.0,36.000000,360.0,1.000000,1,0,0,0,2
354,2423.0,505.0,130.000000,360.0,1.000000,1,0,0,0,2
349,2625.0,6250.0,187.000000,360.0,1.000000,0,0,0,0,0
67,10750.0,0.0,312.000000,360.0,1.000000,0,1,0,0,1
124,4300.0,2014.0,194.000000,360.0,1.000000,0,0,1,0,0
39,3748.0,1668.0,110.000000,360.0,1.000000,0,0,1,0,2
364,6822.0,0.0,141.000000,360.0,1.000000,0,0,0,1,0
434,3750.0,0.0,100.000000,360.0,1.000000,0,0,0,0,1
283,1811.0,1666.0,54.000000,360.0,1.000000,1,0,0,0,1
335,5503.0,4490.0,70.000000,342.0,1.000000,0,0,0,1,2
380,3333.0,2500.0,128.000000,360.0,1.000000,0,0,0,0,2
408,8300.0,0.0,152.000000,300.0,0.000000,0,1,0,0,2
441,7901.0,1833.0,180.000000,360.0,1.000000,0,0,0,0,0
549,2785.0,2016.0,110.000000,360.0,1.000000,0,0,0,0,0
31,3167.0,0.0,74.000000,360.0,1.000000,0,0,0,0,1
374,2764.0,1459.0,110.000000,360.0,1.000000,1,0,0,0,1
95,6782.0,0.0,146.412162,360.0,0.842199,0,0,0,0,1
241,2510.0,1983.0,140.000000,180.0,1.000000,0,1,1,0,1
308,20233.0,0.0,480.000000,360.0,1.000000,0,0,0,0,0
289,9508.0,0.0,187.000000,360.0,1.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
513,2130.0,6666.0,70.000000,180.0,1.000000,0,0,0,0,2
313,5746.0,0.0,144.000000,84.0,0.842199,0,2,0,1,0
534,18165.0,0.0,125.000000,360.0,1.000000,1,0,1,1,1
319,10000.0,0.0,155.000000,360.0,1.000000,0,1,0,1,0
7,3036.0,2504.0,158.000000,360.0,0.000000,0,4,0,0,2
393,1993.0,1625.0,113.000000,180.0,1.000000,0,2,1,0,2
141,5417.0,0.0,168.000000,360.0,1.000000,0,0,0,0,1
86,3333.0,2000.0,99.000000,360.0,0.842199,0,2,1,0,2
478,16667.0,2250.0,86.000000,360.0,1.000000,0,1,0,1,2
503,4050.0,5302.0,138.000000,360.0,0.842199,0,1,1,0,0
215,3850.0,983.0,100.000000,360.0,1.000000,0,4,1,0,2
580,6540.0,0.0,205.000000,360.0,1.000000,0,2,0,0,2
562,5923.0,2054.0,211.000000,360.0,1.000000,0,0,0,0,0
398,3902.0,1666.0,109.000000,360.0,1.000000,0,0,1,0,0
490,2699.0,2785.0,96.000000,360.0,0.842199,0,0,1,0,2
252,2583.0,2167.0,104.000000,360.0,1.000000,0,0,1,1,0
468,210.0,2917.0,98.000000,360.0,1.000000,1,2,1,0,2
357,3875.0,0.0,67.000000,360.0,1.000000,0,1,0,0,1
254,16250.0,0.0,192.000000,360.0,0.000000,0,0,0,1,1
276,3993.0,3274.0,207.000000,360.0,1.000000,0,0,0,0,2
178,3750.0,0.0,116.000000,360.0,1.000000,0,1,0,0,2
281,3927.0,800.0,112.000000,360.0,1.000000,0,0,0,0,2
390,9167.0,0.0,185.000000,360.0,1.000000,0,4,0,0,0
508,2479.0,3013.0,188.000000,360.0,1.000000,0,0,0,1,1
583,1880.0,0.0,61.000000,360.0,0.842199,0,1,0,0,0
129,6080.0,2569.0,182.000000,360.0,0.842199,0,0,0,0,0
144,11757.0,0.0,187.000000,180.0,1.000000,0,2,0,0,1
72,3500.0,0.0,81.000000,300.0,1.000000,0,0,0,0,2
235,5500.0,1260.0,170.000000,360.0,1.000000,0,1,0,0,0
37,3667.0,1459.0,144.000000,360.0,1.000000,1,0,0,0,2

In [27]:
y_train

291    N
507    N
328    N
609    Y
69     N
40     N
5      Y
430    Y
453    Y
38     Y
582    Y
354    Y
349    Y
67     Y
124    Y
39     Y
364    Y
434    Y
283    Y
335    Y
380    Y
408    N
441    Y
549    Y
31     N
374    Y
95     N
241    N
308    N
289    Y
      ..
513    N
313    Y
534    Y
319    N
7      N
393    Y
141    Y
86     Y
478    Y
503    N
215    Y
580    Y
562    Y
398    Y
490    Y
252    Y
468    Y
357    N
254    N
276    Y
178    Y
281    Y
390    Y
508    Y
583    N
129    N
144    Y
72     Y
235    Y
37     Y
Name: Loan_Status, Length: 491, dtype: object

In [28]:
X_test

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Dependents,Education,Self_Employed,Property_Area
533,11250.0,0.0,196.000000,360.0,0.842199,0,1,0,0,2
544,3017.0,663.0,102.000000,360.0,0.842199,1,0,1,0,2
41,1800.0,1213.0,47.000000,360.0,1.000000,0,0,0,0,1
148,10000.0,1666.0,225.000000,360.0,1.000000,1,0,0,0,0
111,2929.0,2333.0,139.000000,360.0,1.000000,1,0,0,0,2
293,5417.0,0.0,143.000000,480.0,0.000000,1,0,0,0,1
435,10047.0,0.0,146.412162,240.0,1.000000,1,0,0,0,2
407,2213.0,0.0,66.000000,360.0,1.000000,1,0,1,0,0
311,2927.0,2405.0,111.000000,360.0,1.000000,0,0,1,0,2
23,3365.0,1917.0,112.000000,360.0,0.000000,0,2,1,0,0
242,2965.0,5701.0,155.000000,60.0,1.000000,0,0,0,0,1
185,39147.0,4750.0,120.000000,360.0,1.000000,0,0,0,1,2
521,2500.0,0.0,55.000000,360.0,1.000000,0,0,0,0,2
496,2600.0,1700.0,107.000000,360.0,1.000000,0,0,1,0,0
566,3333.0,0.0,70.000000,360.0,1.000000,0,0,0,0,1
301,2875.0,1750.0,105.000000,360.0,1.000000,0,0,1,0,2
375,4817.0,923.0,120.000000,180.0,1.000000,0,0,0,0,1
200,2600.0,2500.0,90.000000,360.0,1.000000,0,1,1,0,2
599,5780.0,0.0,192.000000,360.0,1.000000,0,2,0,0,1
306,3762.0,1666.0,135.000000,360.0,1.000000,1,0,0,0,0
132,2718.0,0.0,70.000000,360.0,1.000000,0,0,0,0,2
559,4180.0,2306.0,182.000000,360.0,1.000000,1,0,0,0,2
0,5849.0,0.0,146.412162,360.0,1.000000,0,0,0,0,1
135,4000.0,7750.0,290.000000,360.0,1.000000,0,4,0,0,2
195,3125.0,2583.0,170.000000,360.0,1.000000,0,1,0,0,2
386,2346.0,1600.0,132.000000,360.0,1.000000,0,0,1,0,2
563,5800.0,0.0,132.000000,360.0,1.000000,0,0,1,1,2
201,4923.0,0.0,166.000000,360.0,0.000000,0,2,0,0,2
520,2192.0,1742.0,45.000000,360.0,1.000000,0,2,1,0,2
518,4683.0,1915.0,185.000000,360.0,1.000000,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...
223,7578.0,1010.0,175.000000,342.0,1.000000,0,0,0,0,2
574,6406.0,0.0,150.000000,360.0,1.000000,0,4,0,0,2
425,2666.0,4300.0,121.000000,360.0,1.000000,0,0,0,0,0
92,3273.0,1820.0,81.000000,360.0,1.000000,0,2,1,0,1
295,4416.0,1250.0,110.000000,360.0,1.000000,0,4,0,0,1
484,8333.0,0.0,246.000000,360.0,1.000000,0,2,0,0,2
260,6083.0,4250.0,330.000000,360.0,0.842199,0,1,0,0,1
268,3418.0,0.0,135.000000,360.0,1.000000,1,0,0,0,0
103,4652.0,3583.0,146.412162,360.0,1.000000,0,0,0,0,2
560,3675.0,242.0,108.000000,360.0,1.000000,0,2,1,0,2
224,6250.0,0.0,128.000000,360.0,1.000000,0,0,0,0,2
187,2383.0,2138.0,58.000000,360.0,0.842199,0,0,0,0,0
80,3846.0,0.0,111.000000,360.0,1.000000,1,0,0,0,2
516,2031.0,1632.0,113.000000,480.0,1.000000,1,2,0,0,2
379,5391.0,0.0,130.000000,360.0,1.000000,0,2,0,0,1
373,3062.0,1987.0,111.000000,180.0,0.000000,0,1,0,0,1
436,1926.0,1851.0,50.000000,360.0,1.000000,0,0,0,0,2
545,2768.0,1950.0,155.000000,360.0,1.000000,0,0,0,0,0
3,2583.0,2358.0,120.000000,360.0,1.000000,0,0,1,0,1
197,1907.0,2365.0,120.000000,342.0,1.000000,1,0,1,0,1
9,12841.0,10968.0,349.000000,360.0,1.000000,0,1,0,0,2
250,1668.0,3890.0,201.000000,360.0,0.000000,0,0,1,0,2
304,4000.0,2500.0,140.000000,360.0,1.000000,0,0,0,0,0
483,10833.0,0.0,234.000000,360.0,1.000000,0,0,0,0,2
474,5532.0,4648.0,162.000000,360.0,1.000000,0,2,0,0,0
341,2378.0,0.0,46.000000,360.0,1.000000,1,0,0,0,0
404,7441.0,0.0,194.000000,360.0,1.000000,1,0,0,1,0
247,6608.0,0.0,137.000000,180.0,1.000000,0,1,1,0,1
464,4166.0,0.0,98.000000,360.0,0.000000,0,0,0,0,2
493,17263.0,0.0,225.000000,360.0,1.000000,1,0,1,1,2

In [29]:
y_test

533    N
544    Y
41     Y
148    N
111    Y
293    N
435    Y
407    Y
311    Y
23     N
242    Y
185    Y
521    Y
496    Y
566    Y
301    Y
375    Y
200    Y
599    Y
306    Y
132    Y
559    Y
0      Y
135    N
195    N
386    Y
563    Y
201    Y
520    Y
518    N
      ..
223    Y
574    N
425    Y
92     Y
295    Y
484    Y
260    Y
268    N
103    Y
560    Y
224    Y
187    Y
80     Y
516    Y
379    Y
373    N
436    Y
545    Y
3      Y
197    Y
9      N
250    N
304    Y
483    Y
474    Y
341    N
404    N
247    Y
464    N
493    Y
Name: Loan_Status, Length: 123, dtype: object

In [30]:
model.score(X_test,y_test)

0.8048780487804879

In [31]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [34]:
X_test

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Dependents,Education,Self_Employed,Property_Area
533,11250.0,0.0,196.000000,360.0,0.842199,0,1,0,0,2
544,3017.0,663.0,102.000000,360.0,0.842199,1,0,1,0,2
41,1800.0,1213.0,47.000000,360.0,1.000000,0,0,0,0,1
148,10000.0,1666.0,225.000000,360.0,1.000000,1,0,0,0,0
111,2929.0,2333.0,139.000000,360.0,1.000000,1,0,0,0,2
293,5417.0,0.0,143.000000,480.0,0.000000,1,0,0,0,1
435,10047.0,0.0,146.412162,240.0,1.000000,1,0,0,0,2
407,2213.0,0.0,66.000000,360.0,1.000000,1,0,1,0,0
311,2927.0,2405.0,111.000000,360.0,1.000000,0,0,1,0,2
23,3365.0,1917.0,112.000000,360.0,0.000000,0,2,1,0,0
242,2965.0,5701.0,155.000000,60.0,1.000000,0,0,0,0,1
185,39147.0,4750.0,120.000000,360.0,1.000000,0,0,0,1,2
521,2500.0,0.0,55.000000,360.0,1.000000,0,0,0,0,2
496,2600.0,1700.0,107.000000,360.0,1.000000,0,0,1,0,0
566,3333.0,0.0,70.000000,360.0,1.000000,0,0,0,0,1
301,2875.0,1750.0,105.000000,360.0,1.000000,0,0,1,0,2
375,4817.0,923.0,120.000000,180.0,1.000000,0,0,0,0,1
200,2600.0,2500.0,90.000000,360.0,1.000000,0,1,1,0,2
599,5780.0,0.0,192.000000,360.0,1.000000,0,2,0,0,1
306,3762.0,1666.0,135.000000,360.0,1.000000,1,0,0,0,0
132,2718.0,0.0,70.000000,360.0,1.000000,0,0,0,0,2
559,4180.0,2306.0,182.000000,360.0,1.000000,1,0,0,0,2
0,5849.0,0.0,146.412162,360.0,1.000000,0,0,0,0,1
135,4000.0,7750.0,290.000000,360.0,1.000000,0,4,0,0,2
195,3125.0,2583.0,170.000000,360.0,1.000000,0,1,0,0,2
386,2346.0,1600.0,132.000000,360.0,1.000000,0,0,1,0,2
563,5800.0,0.0,132.000000,360.0,1.000000,0,0,1,1,2
201,4923.0,0.0,166.000000,360.0,0.000000,0,2,0,0,2
520,2192.0,1742.0,45.000000,360.0,1.000000,0,2,1,0,2
518,4683.0,1915.0,185.000000,360.0,1.000000,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...
223,7578.0,1010.0,175.000000,342.0,1.000000,0,0,0,0,2
574,6406.0,0.0,150.000000,360.0,1.000000,0,4,0,0,2
425,2666.0,4300.0,121.000000,360.0,1.000000,0,0,0,0,0
92,3273.0,1820.0,81.000000,360.0,1.000000,0,2,1,0,1
295,4416.0,1250.0,110.000000,360.0,1.000000,0,4,0,0,1
484,8333.0,0.0,246.000000,360.0,1.000000,0,2,0,0,2
260,6083.0,4250.0,330.000000,360.0,0.842199,0,1,0,0,1
268,3418.0,0.0,135.000000,360.0,1.000000,1,0,0,0,0
103,4652.0,3583.0,146.412162,360.0,1.000000,0,0,0,0,2
560,3675.0,242.0,108.000000,360.0,1.000000,0,2,1,0,2
224,6250.0,0.0,128.000000,360.0,1.000000,0,0,0,0,2
187,2383.0,2138.0,58.000000,360.0,0.842199,0,0,0,0,0
80,3846.0,0.0,111.000000,360.0,1.000000,1,0,0,0,2
516,2031.0,1632.0,113.000000,480.0,1.000000,1,2,0,0,2
379,5391.0,0.0,130.000000,360.0,1.000000,0,2,0,0,1
373,3062.0,1987.0,111.000000,180.0,0.000000,0,1,0,0,1
436,1926.0,1851.0,50.000000,360.0,1.000000,0,0,0,0,2
545,2768.0,1950.0,155.000000,360.0,1.000000,0,0,0,0,0
3,2583.0,2358.0,120.000000,360.0,1.000000,0,0,1,0,1
197,1907.0,2365.0,120.000000,342.0,1.000000,1,0,1,0,1
9,12841.0,10968.0,349.000000,360.0,1.000000,0,1,0,0,2
250,1668.0,3890.0,201.000000,360.0,0.000000,0,0,1,0,2
304,4000.0,2500.0,140.000000,360.0,1.000000,0,0,0,0,0
483,10833.0,0.0,234.000000,360.0,1.000000,0,0,0,0,2
474,5532.0,4648.0,162.000000,360.0,1.000000,0,2,0,0,0
341,2378.0,0.0,46.000000,360.0,1.000000,1,0,0,0,0
404,7441.0,0.0,194.000000,360.0,1.000000,1,0,0,1,0
247,6608.0,0.0,137.000000,180.0,1.000000,0,1,1,0,1
464,4166.0,0.0,98.000000,360.0,0.000000,0,0,0,0,2
493,17263.0,0.0,225.000000,360.0,1.000000,1,0,1,1,2

In [35]:
model.score(X_test,y_test)

0.6747967479674797

In [36]:
from sklearn.svm import SVC
model = SVC()

In [37]:
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [38]:
model.score(X_test, y_test)

0.6829268292682927

In [39]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [40]:
pred = knn.predict(X_test)
pred

array(['Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y'], dtype=object)

In [41]:
knn.score(X_test,y_test)

0.5934959349593496

In [42]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score

In [43]:
print(confusion_matrix(y_test,pred))

[[12 27]
 [23 61]]

In [44]:
err = []
for i in range(1,40):
    knn = KNeighborsClassifier(n_neighbors=i)
    score=cross_val_score(knn,X,y,cv=10)
    err.append(1-score.mean())

In [45]:
err = []
for i in range(1,40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    err.append(np.mean(pred_i != y_test))